# =============================================================================
# File        : .gitignore
# Author      : yukimemi
# Last Change : 2024/06/23 19:53:57.
# =============================================================================

*.log
*.csv
log/
