# =============================================================================
# File        : .gitignore
# Author      : yukimemi
# Last Change : 2025/05/03 15:49:22.
# =============================================================================

*.log
*.csv
*.flg
log/
ng/
if/
system/clct/
user/clct/
